{% extends 'base.html.twig'%}

{% block title %}{{ parent()}} |Profil {% endblock%}

{% block body%}
    <h1>   Mon Profil    </h1>

<div>


</div>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <p>Email: {{ app.user.email }}</p>
        <p>{{app.user.nom}}</p>
        <p>{{app.user.telephone}}</p>
    {% endif %}



{% endblock %}
