{% extends 'base.html.twig'%}

{% block title %}{{ parent()}} |Profil {% endblock%}

{% block extrastyles %}
    <style>
        h1{
            text-align: center;
        }
        section {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;

        }
        #gauche{
            display: flex;
            border: solid;

        }
        #droit{

        }
    </style>
{% endblock %}


{% block body%}

    <h1>Mon Profil</h1>

    <section id="principale">
        <div id="gauche">
            Ma photo de profil
        </div>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {{ form_start(registrationForm) }}
            {{ form_widget(registrationForm) }}



            <button type="submit" class="btn">
                Enregistrer
            </button>

            <button type="reset" class="btn">
                Annuler
            </button>
            {{ form_end(registrationForm) }}
        {% endif %}
        

    </section>





{% endblock %}
