{% extends 'base.html.twig'%}

{% block title %}{{ parent()}} |Profil {% endblock%}

{% block body%}

    <h1>Mon Profil</h1>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {{ form_start(registrationForm) }}
        {{form_widget(registrationForm)}}


        <button type="submit" class="btn">

            S'Enregistrer

        </button>
        {{ form_end(registrationForm) }}




    {% endif %}




{% endblock %}
