{% extends 'base.html.twig'%}

{% block title %}{{ parent()}} |Profil {% endblock%}

{% block body%}
    <h1>   Mon Profil    </h1>

<div>
    {{user.nom}}
    {{participant.nom}}

</div>




{% endblock %}
