h1{
    text-align: center;
}

.container{
    display:grid;
    height:100vh;
    grid-template-columns:1fr 1fr;
    grid-template-rows:0.2fr 1fr;
    grid-template-areas:"div main"
    "div main"
}

div #profil{
    grid-area : div #profil;
    background-color: burlywood;
}

div #photo{
    grid-area : div #photo;
    alignment: top;
    }

main{
    grid-area : main;

}

