<nav>
    <ul>

        <li><a href="{{ path('main_list') }}" title="Sorties">Sorties</a></li>



        <li><a href="{{ path('main_profil') }}" title="Profil">Profil</a></li>
        <li><a href="{{ path('app_logout') }}" title="Profil">Se Déconnecter</a></li>


    </ul>
</nav>
