<nav>
    <ul>

        <li><a href="{{ path('main_profil') }}" title="Profil">Mon Profil</a></li>
        <li><a href="{{ path('app_logout') }}" title="deconnection">Se Déconnecter</a></li>


    </ul>
</nav>
